<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PUBLIC/CSS/style.css">
    <title>CV</title>
</head>
<body>
    <div class="container">
        

        <header>
            <div class="centro">
                <img class="img_yo" src="../PUBLIC/IMG/yo.jpg" alt="este sOy yo">
                <h1 class="nombre" >kevin Andres Lagos urcue</h1>
            </div>

            <ul class="lista_principal">
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/index.html">Yo</a></li>
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/familia.html">familia</a></li>
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/toby.html">TOBY</a></li>
            </ul>

            <div class="descripcion">
                <p class="descripcion_corta">Esta es mi familia  </p>
            </div>
        </header>





        <main>



                <img class="segundo_yo" src="../PUBLIC/IMG/otroyo.jpg" alt="otra vez yo">                



                <aside class="parrafo_main">
                    Mi familia se compone de 6 personas, con 
                    mi padre, madre y tres hermanas, dos mayores y una menor. 
                    Aunque somos varios, no vivimos todos juntos.
                    Mis papas estan separados pero conservan una muy buena relacion, mis dos hermanas mayores viven 
                    juntas, aun así, vivo con mi madre y hermana menor. 
                    <br><br>
                    Mi padre, Jesus Ramiro, es trabajador aunque no se muy bien en que, mi madre, Maria Isabel, trabaja en un espacio de cocina preparando 
                    alimentos, reabasteciendo un restaurante de lasaña, mi hermana mayor Paula, tiene un negocio propio, relacionado  con el diseño y arrelgo en uñas y tiene un hijo llamado sergio, 
                    mi segunda hermana mayor, Alejandra, trabaja en una panaderia, y por ultimo mi hermana menor, Leidy, es estudiante cursando el bachiller en ultimo año



                </aside>
                



                

            </main>

        <footer>
            <div>
                <p class="parrafo_derechos"> Todos los derechos reservados. Pagina realizado por kevin Andres
                </p>
            </div>

        </footer>

    </div>

</body>
</html>