<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PUBLIC/CSS/style.css">
    <title>CV</title>
</head>
<body>
    <div class="container">
        

        <header>
            <div class="centro">
                <img class="img_yo" src="../PUBLIC/IMG/yo.jpg" alt="este sOy yo">
                <h1 class="nombre" >kevin Andres Lagos urcue</h1>
            </div>

            <ul class="lista_principal">
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/index.html">Yo</a></li>
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/familia.html">familia</a></li>
                <li class="lista_pequeña"><a class="lista_a" href="../VIEW/toby.html">TOBY</a></li>
            </ul>

            <div class="descripcion">
                <p class="descripcion_corta">Mis Hobies</p>
            </div>
        </header>





















        <main>



                <img class="segundo_yo" src="../PUBLIC/IMG/otroyo.jpg" alt="otra vez yo">                



                <aside class="parrafo_main">
                    Mi nombre es Kevin Andres. Aunque practico diversos
                    deportes, ninguno de ellos alcanza el
                    nivel de mi verdadera pasion. He participado en
                    baloncesto, futbol, balonmano, voley, rugby y otras
                    disciplinas. Adicionalmente, encuentro placer en
                    apreciar la musica, independiente de su
                    genero. Mi preferencia se basa principalmente en
                    el ritmo , seguido de la letra; estas son las unicas
                    formas en las que una cancion puede captar mi <br>
                    interes. <br><br>
                    Disfruto viendo series y peliculas, aunque tiendo
                    a no aventurarme mucho con filmes nuevos o
                    aquellos que carecen de reseñas favorables. <br><br>
                    Actualmente, me encuentro cursando estudios en
                    el SENA, donde me dedico a la formacion como
                    tecnologo en analisis y desarrollo de software.
                    Aspiro a desempeñarme de manera excepcional,
                    brindando siempre lo mejor de mi en este ambito.
                    <br><br><br>
                    <!-- <ul class="lista_main_principal">
                        
                        <li  class="lista_pequeña_main">madre:   Maria Isabel Urcue Giron</li>
                        <li  class="lista_pequeña_main">Padre:   Jesus ramiro lagos Patiño</li>
                        <li  class="lista_pequeña_main">Hermana: Leidy Lorena Lagos Urcue</li>
                        <li  class="lista_pequeña_main">Hermana: Alejandra Tapasco Urcue</li>
                        <li  class="lista_pequeña_main">Hermana: Paula Andrea Arias Urcue</li>
                    </ul> -->
                </aside>



                

            </main>

        <footer>
            <div>
                <p class="parrafo_derechos"> Todos los derechos reservados. Pagina realizado por kevin Andres
                </p>
            </div>

        </footer>

    </div>

</body>
</html>